@import "tailwindcss";

@source "../";
@source "../**/*.razor";
@source "../**/*.cshtml";
@source "../**/*.html";
@source "../**/*.js";
@source "../**/*.ts";
@source "./buttons.css";
@source "./bumper.css";
@source "./layout.css";
@source "./typo.css";
@source "./forms.css";
@source "./table.css";
@source "./dialog.css";
@source "./editor.css";
@source "./cockpit.css";

:root {
	/* Colors */
	--examplecompany-text: #444;
	--main-bg: rgb(248 250 252 / var(--tw-bg-opacity, 1));
	--examplecompany-blue: #00609c;
	--examplecompany-blue-light: #00609ce8;
	--examplecompany-orange: #b77502;
	--examplecompany-violett: #2d0278;
	--examplecompany-danger: #b22701;
	--examplecompany-success: #005724;
	--examplecompany-orange-light: #b7750260;
	--examplecompany-darken: #00000011;

	/* Shadows */
	--examplecompany-shadow: 0px 1px 6px 0px var(--examplecompany-orange-light);
	-webkit-box-shadow: 0px 1px 6px 0px var(--examplecompany-orange-light);
	-moz-box-shadow: 0px 1px 6px 0px var(--examplecompany-orange-light);
	--examplecompany-hard-shadow: 0px 1px 6px 0px var(--examplecompany-orange);
	-webkit-box-shadow: 0px 1px 6px 0px var(--examplecompany-orange);
	-moz-box-shadow: 0px 1px 6px 0px var(--examplecompany-orange);

	/* Gradients */
	--examplecompany-flare: linear-gradient(135deg, var(--examplecompany-blue-light) 0%, var(--examplecompany-blue) 15%, var(--examplecompany-violett) 100%);
	--examplecompany-flare-mod: linear-gradient(135deg, var(--examplecompany-violett) 0%, var(--examplecompany-blue) 50%, var(--examplecompany-blue-light) 100%);
	--examplecompany-overlay-right: linear-gradient(90deg, transparent 0%, #00000099 100%);
	--examplecompany-overlay-middle: radial-gradient(circle, #00000099 0%, #00000060 50%, rgba(0, 0, 0, 0.349) 100%);

	/* Layout */
	--board-cols: 12;
	--grid-size: 16px;
	--gap: 8px;
	;
}

@import "./buttons.css";
@import "./bumper.css";
@import "./table.css";
@import "./forms.css";
@import "./layout.css";
@import "./typo.css";
@import "./dialog.css";
@import "./editor.css";
@import "./cockpit.css";

html {
	@apply bg-fixed;
}

body {
	@apply h-full bg-no-repeat bg-cover m-0 p-0;
}

div.main-wrap img.main-wrap-bg {
	display: block;
	position: absolute;
	width: 100vw;
	height: 100vh;
	object-fit: cover;
}
