@layer components {
	.btn {
		/*@apply inline-flex items-center justify-center text-base font-semibold cursor-pointer transition-all duration-[0.2s] ease-[ease-in-out] no-underline text-[color:var(--audicius-text)] shadow-[var(--audicius-shadow)] px-[1.2rem] py-[0.6rem] rounded-lg border-[none] active:shadow-none active:scale-[0.96] focus:outline-offset-0 disabled:opacity-60 disabled:cursor-not-allowed disabled:shadow-none;*/
		@apply inline-flex items-center justify-center text-base font-semibold cursor-pointer transition-all duration-[0.2s] ease-[ease-in-out] no-underline text-[color:var(--audicius-text)] px-[1.2rem] py-[0.6rem] rounded-lg border-[none] active:scale-[0.96] focus:outline-offset-0;
		box-shadow:
			2px 2px 2px rgba(0, 0, 0, 0.1),
			0px 0px 2px 2px white,
			inset -2px -2px 2px rgba(0, 0, 0, 0.1),
			inset 2px 2px 2px white;

		-webkit-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1),
			0px 0px 2px 2px white,
			inset -2px -2px 2px rgba(0, 0, 0, 0.1),
			inset 2px 2px 2px white;

		-moz-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1),
			0px 0px 2px 2px white, inset -2px -2px 2px rgba(0, 0, 0, 0.1),
			inset 2px 2px 2px white;
	}

	.btn svg {
		@apply w-4 h-4;
		stroke: currentColor;
	}

	.btn.sm {
		@apply text-base px-[0.6rem] py-[0.3rem];
	}

	.btn.xs {
		@apply text-base px-[0.3rem] py-[0.1rem];
	}

	/* Base interactive states */
	.btn:focus {
		outline: none;
	}

	/* === Variants === */

	/*
	.btn.primary {
		@apply relative isolate text-white overflow-hidden before:opacity-100 after:opacity-0 hover:after:opacity-100 hover:before:opacity-0;

		background: transparent;
	}

	.btn.primary::before,
	.btn.primary::after {
		@apply content-[""] absolute pointer-events-none z-[-1] transition-opacity duration-[0.2s] ease-[ease-in-out] rounded-[inherit] inset-0;

	}*/

	/* Basis-Verlauf
	.btn.primary::before {
		background: var(--audicius-flare);
	}*/

	/* Hover-Verlauf
	.btn.primary::after {
		background: var(--audicius-flare-mod);
	}*/

	/* FLAT (clean, bordered) */
	.btn.flat {
		box-shadow: none;
		background: transparent;
	}

	.btn.flat:hover {
		background: bg-gray-50 text-gray-700;
	}

	/* DANGER */
	.btn.danger {
		@apply text-white;
		background: var(--audicius-danger);
	}

	.btn.danger:hover {
		background: #8f1e00;
	}

	.btn.danger:active {
		background: #691700;
	}

	/* SUCCESS */
	.btn.success {
		@apply text-white;
		background: var(--audicius-success);
	}

	.btn.success:hover {
		background: #00461d;
	}

	.btn.success:active {
		background: #003816;
	}

	/* ORANGE Accent */
	.btn.secondary {
		@apply text-white;
		background: var(--audicius-orange);
	}

	.btn.secondary:hover {
		background: #e99e00;
	}

	.btn.secondary:active {
		background: #cc8b00;
	}

	/* GROUP (makes buttons stick together) */
	.btn-group {
		@apply inline-flex gap-0;
	}

	.btn-group .btn {
		@apply rounded-none first:rounded-tl-lg first:rounded-bl-lg last:rounded-tr-lg last:rounded-br-lg;
	}
}
