@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Authentication.Cookies
@inject NavigationManager Navigation
@inject IJSRuntime JSRuntime

<AuthorizeView>
    <Authorized>
        <span class="text-light">Hello, @context.User.Identity?.Name!</span>
        <button class="nav-link btn btn-link text-light" @onclick="BeginLogOut">Log out</button>
    </Authorized>
    <NotAuthorized>
        <a href="login">Log in</a>
        <span> | </span>
        <a href="register">Register</a>
    </NotAuthorized>
</AuthorizeView>

@code {
    private async Task BeginLogOut()
    {
        Navigation.NavigateTo("/logout", true);
    }
}
