@using System.Security.Claims
@inject NavigationManager Navigation

<footer>
    <span class="subtle center"><span>© </span><span class="examplecompany">@DateTime.Now.Year Made by examplecompany</span></span>
</footer>
