@using System.Security.Claims
@inject NavigationManager Navigation

<footer>
    <span class="subtle center"><span>© </span><span class="audicius">@DateTime.Now.Year Made by Audicius</span></span>
</footer>
