@using System.Security.Claims
@inject NavigationManager Navigation

<footer>
    <nav>
        <ul>
            <li class="subtle">
                <NavLink target="_blank" href="https://www.audicius.de/imprint">
                    <span aria-hidden="true"></span> Impressum
                </NavLink>
            </li>
            <li class="subtle">
                <NavLink target="_blank" href="https://www.audicius.de/privacy">
                    <span aria-hidden="true"></span> Datenschutz
                </NavLink>
            </li>
        </ul>
    </nav>
    <span class="subtle center"><span>© </span><span class="audicius">@DateTime.Now.Year Made by Audicius</span></span>
</footer>
