@using System.Security.Claims
@inject NavigationManager Navigation

<footer>
    <ul>
        <li>
            <NavLink href="https://www.audicius.de/imprint">
                <span aria-hidden="true"></span> Impressum
            </NavLink>
        </li>
        <li>
            <NavLink href="https://www.audicius.de/privacy">
                <span aria-hidden="true"></span> Datenschutz
            </NavLink>
        </li>
    </ul>
</footer>
