@using Microsoft.AspNetCore.Components.Authorization
@using System.Security.Claims
@inject NavigationManager Navigation

<header class="header-main">
    <AuthorizeView>
        <Authorized>
            <div>
            <a href="dashboard">CMC</a></div>
        </Authorized>
        <NotAuthorized>
            <div>
            <a href="">CMC</a></div>
        </NotAuthorized>
    </AuthorizeView>
    <ProfileMenu/>
</header>
