@page "/dashboard"
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.Authorization
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject NavigationManager Navigation
@attribute [Authorize]

<PageTitle>CMC - Dashboard</PageTitle>

<div>
    <aside class="aside-main">
    </aside>
</div>

@code {

}
