@page "/"

<PageTitle>CMC - Home</PageTitle>

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <h1 class="mb-4">Welcome to Cybersecurity Management Cockpit</h1>
        </div>
    </div>
</div>
