@page "/"
@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Authorization
@attribute [AllowAnonymous]

<PageTitle>CMC - Home</PageTitle>

<section class="slim">
    <div class="card">
        <h1>
            Welcome to Cybersecurity Management Cockpit
        </h1>
    </div>
</section>
<section class="slim">
    <div class="card">
        <h1>
            Buttons
        </h1>

    </div>
    <div class="card">
        <h1>
            Form
        </h1>
    </div>
</section>
<section class="slim">
    <div class="card">
        <h1>
            Test
        </h1>
    </div>
    <div class="card">
        <h1>
            Test
        </h1>
    </div>
    <div class="card">
        <h1>
            Test
        </h1>
    </div>
</section>
<section class="slim">
    <div class="card">
        <h1>
            Test
        </h1>
    </div>
    <div class="card">
        <h1>
            Test
        </h1>
    </div>
    <div class="card">
        <h1>
            Test
        </h1>
    </div>
    <div class="card">
        <h1>
            Test
        </h1>
    </div>
</section>

<AuthorizeView>
    <Authorized>
        <RedirectToDashboard />
    </Authorized>
    <NotAuthorized>
    </NotAuthorized>
</AuthorizeView>
