@page "/"
@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Authorization
@attribute [AllowAnonymous]
@inject IJSRuntime JS

<PageTitle>CMC - Home</PageTitle>

<section class="slim">
    <div class="card">
        <h1>
            Welcome to Cybersecurity Management Cockpit
        </h1>
        <NavLink class="btn primary" href="login">
            <span aria-hidden="true"></span> Login
        </NavLink>
    </div>
</section>
<AuthorizeView>
    <Authorized>
        <RedirectToCockpit />
    </Authorized>
    <NotAuthorized>
    </NotAuthorized>
</AuthorizeView>
